* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: #ffffff;
}
html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

nav {
  width: 100%;
  background-color: #111111;
  position: fixed;
  display: flex;
  height: 12vh;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw 10.4vw;
  z-index: 10;
  color: #ffffff;
}

nav h1 {
  font-size: 1.7vw;
  text-transform: uppercase;
  font-weight: 700;
}
.options {
  /*justify-content: space-around;
align-items: center; */

  display: flex;
  align-items: flex-start;
  gap: 2vw;

  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.options h4 {
  font-size: 0.73vw;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2.6vw;
}

.options h5 {
  /* margin-bottom: 1vw; */
  /* background-color: red; */
  display: none;
  overflow: hidden;
}

.options h5 span {
  /* background-color: red; */
  font-size: 0.77vw;
  font-weight: 400;
  transform: translateY(25px);
  display: inline-block;
}
#nav-bottom {
  width: 79%;
  height: 0vh;
  position: absolute;
  /* background-color: red; */
  top: 100%;
  margin-top: 10px;
  background-color: #111;
  z-index: 9;
  color: #ffffff;
  border-bottom: 1px solid #fff;
}
nav button {
  background-color: #0da34e;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 10px 10px;
  font-size: 1.2vw;
  border: none;
}
nav button h6 {
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
}
nav button svg {
  width: 1vw;
  height: 1vw;
  margin-left: 20px;
}
#p1 {
  height: 120vh;
  width: 100%;
  /* padding-top: 50px; */
  position: relative;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /*direction in which  flex works now it column initially row */
}
#p1 h1 {
  font-size: 8.5vw;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 8vw;
}
#p1 h1 svg {
  width: 6vw;
  height: 6vw;
  background-color: #0da34e;
  border-radius: 50%;
}
#p1 h1 span:hover #p1 h1 span {
  transform: rotate(30deg);
}
#p1 p {
  margin-top: 2vw;
  font-size: 1.2vw;
  color: #ffffff;
  text-align: center;

  /* text-transform: uppercase;
    font-weight: 800;
    line-height: 3vw; */
}
#b-design {
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
}
#b-design h4 {
  font-size: 1.2vw;
  font-weight: 500;
  border: 1px solid #92929296;
  border-radius: 50px;
  padding: 0.5vh 1.5vw;
}
#b-design h4:nth-child(3) {
  border: 0;
  padding: 0.1px;
}
#moving-div {
  /* background-color: red; */
  
  position: absolute;
  bottom: 10%;
  overflow: hidden;
  padding: 1.2vw;
  white-space: nowrap;
  width: 44%;
  /* margin-top: 10vh; */
}
#moving-div .reel {
  display: inline-block; 
  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* padding-left: 2vw;
  border-left:1px #fff; */
}
@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

#moving-div .reel img {
  height: 1.3vw;
  margin: 0 1vw;
}
#left{
  height: 100%;
  width: 10%;
  position: absolute;
  z-index: 2;
  left: -1%;
  top: 0;
  background: linear-gradient(to right , #111, transparent);
}
#right{
  height: 100%;
  width: 10%;
  position: absolute;
  z-index: 2;
  right: -1%;
  top: 0;
  background: linear-gradient(to left , #111, transparent);
}
.u-line{
width:85%;
height: 1px;
background-color: #333;
margin-top: 5vw;
position: absolute;
  z-index: 3;
  bottom: 0;
}
#p2{
  height: 120vh;
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 0vw 5vw;
  padding-bottom: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#p2-left{
  height: 100%;
  width: 40%;
  /* background-color: #333; */
  display: flex;
  border-top:1px solid #333;
  justify-content: space-between;
  flex-direction: column;
}
#p2-right{
  height: 100%;
  width: 50%;
  /* background-color: #333; */
}
.inside:hover.inside{
  border-top:1px solid #ffffff;

}
.inside{
  width: 100%;
  height: 25vh;
  padding-top: 13px;
  background-color: #111111;
  transition: all ease 0.3;
  border-top:1px solid #333;
}
.inside h6{
  font-size: 1.8vw;
  font-weight: 300;
}
.inside svg{
  position: relative;
  left: 98%;
  top: -50%;
  height: 10px;
}
.inside #hidden{
  position: relative;
  left: 98%;
  top: -50%;
  height: 10px;
}
.inside:hover .inside #hidden{
  border-top:1px solid #ffffff;

}
.inside img{
  height: 7vw;
  width: 7vw;
  opacity: 0;
  border-radius: 50%;
  object-fit: cover;
  display: none;
}
#p2-left h6{
  font-size: 0.9vw;
  font-weight: 300;
  padding-top: 3vw;
}
#p2-left p{
  font-size: 1.2vw;
  font-weight: 400;
  padding-bottom: 10vh;
}
#p3{
  height: 100vh;
  width: 100%;
  position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 99 */
}
#p3-cover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  background: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  background-size: cover;
  opacity: 1;
}
#p3-cover #icon{
  background-color: white;
  height: 12vw;
  width: 12vw;
  border-radius: 50%;
  position: relative;
  top: 45%;
  left: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#p3-cover #icon i
 {/*position: relative;
  top: 40%;
  left: 42%;  */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  color: #111111;
}
#p3 video{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  opacity: 0;
  border-radius: 30px;
  z-index: 99999;
}
#p3 h5{
  font-size: 1vw;
  font-weight: 300;
  /* color: #ffffff; */
  position: relative;
  top: 45%;
  left: 49%;
  color: #111;
  opacity: 0;
}
#p3#p3-cover#icon:hover#p3 h5{
  opacity: 1;
  transform: translateY(0%);
}
#p4{
  min-height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
  padding:5vw 5vw;
  
}
#d1{
  padding-bottom: 0vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
#p4-right1{
  height: 100%;
  width: 50%;
}
#p4-right1 h4{
  margin: 4vh 0vh;
  color: #9d9999;
  font-size:1vw;
  font-weight: 500;
}
#p4-right1 p{
  color: #111111;
  margin-bottom: 7vh;
  font-size: 1.5vw;
}
#p4-left1{
  /* background-color: #333; */
  height: 100%;
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#p4-left1 h1{
  margin: 4vh 0vh;
  font-size: 3.1vw;
  font-weight: 600;
  line-height: 3.1vw;
  color: #111111;
  margin-right: 10vw;
  
}
.bottom1{
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
}
#d2{
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 10vh;
}
#d2 h1{
  color: #111111;
  font-size: 4.9vw;
  padding-bottom: 30px;
  font-weight: 300;
}
#d2 p{
  color: #111111;
  font-size: 0.9vw;
  font-weight: 300;
}
.row{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row .block,.row2 .block2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  width: 29vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1vw;
  background-color:#F5F5F5;
}
.row2{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; 
}
#d3{
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 10vh;

}
#case1,#case2{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  padding-bottom: 5vw;
}
.d3-left1{
  height: 40vw;
  width: 27vw;
  display: flex;
  flex-direction: column;
  border-top:1px solid #92929296;
  justify-content: space-between;
  align-items:flex-start;
}
.d3-left1:hover{
  border-top:1px solid #111111;
}
.d3-left1 h3{
  font-size: 2.5vw;
  font-weight: 300;
  color: #111111;
}
.d3-left1 p{
  font-size: 1.2vw;
  color: #111111;
  font-weight: 300;
  padding-bottom: 40vh;
  margin-right: 5vw;
}
.d3-right1{
  height: 40vw;
  width: 60vw;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBNGQhKKMJnXrjkUcClzW8ddmcmfCkNWhvHvhTOYl59agbwQxD);
  background-size: cover;
  opacity: 1;
}
.d3-right1 video {  
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}